.project {
    .container {
        .list {
            ul {
                margin-top: 1rem;

                li {
                    list-style-type: circle;
                }
            }

            h1 {
                font-size: 2rem;
            }

        }
    }
}